/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_light {
  background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --standard-color: #353430;
  --background-color:#F1B2CE;
  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
  --header-footer-color: #ffc2e6;
  --header-footer-font-size: 116px;
  --header-footer-font-style: normal;
  --header-footer-line-height: 82.5%;
  --corner-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    background-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --standard-color: #353430;
    --background-color:#F1B2CE;
    --main-font: "IBM Plex mono";
    --main-font-size: 18px;
    --header-footer-color: #ffc2e6;
    --header-footer-font-size: 116px;
    --header-footer-font-style: normal;
    --header-footer-line-height: 82.5%;
    --corner-color: #353430;
  }
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --standard-color: #353430;
  --background-color:#F1B2CE;
  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
  --header-footer-color: #ffc2e6;
  --header-footer-font-size: 116px;
  --header-footer-font-style: normal;
  --header-footer-line-height: 82.5%;
  --corner-color: #353430;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme_light .corner-border::before {
  color: var(--standard-color, #353430);
}

.theme_light .header__theme-menu-list {
  color: var(--text-color, #353430);
}

.theme_light .header_decorated-item {
  display: none;
}

.theme_light .section_heading {
  color: var(--text-color, #353430);
}

.theme_light .content_text {
  color: var(--text-color, #353430);
}

.theme_light .footer_name::after {
  color: var(--standard-color, #353430);
}

.theme_light .footer_name::before {
  color: var(--standard-color, #353430);
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.theme_light .header__theme-menu-button:focus-visible {
  color: var(--standard-color);
}