/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --section-color: #FF0070;
  --background-color: #000028;
  --text-color: #F1B2CE;
  --standard-color: #000028;
  --main-font: 'IBM Plex mono';
  --main-font-size: 18px;
  --corner-color: #FF0070;
  --hover-opacity: #32312D66;
  --header-footer-color: #DB00FF;
  --header-footer-font-size: 116px;
  --header-footer-font-style: normal;
  --header-footer-line-height: 82.5%;
  --background-image: url(../images/cover-image-dark.png);
}



